Custom style for increasing padding between nav items
.custom-nav {
    padding-right: 45px; 
  }

.search-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-detail {
    text-align: center;
    margin: 10px;
    width: 200px;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h5 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  p {
    font-size: 0.9rem;
    color: #555;
  }
  